* {
    box-sizing: border-box;
    font-size: 12px;
}

header {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: #ffffff;
}

.headings {
    font-size: 18px;
    font-weight: bold;
}

#searchForm {
    display: flex;
    flex-direction: column;
}

.section-container {
    display: flex;
    flex-direction: column;
}

#featuredCity {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}

#main-container {
    display: flex;
    height: 80vh;
}


#weatherCards {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.cards {
    background-color: darkblue;
}

ul {
    list-style-type: none;
    padding: 2px;
}
