* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right,#9370db, #7b68ee);
    color: #ffffff;
}

.headings {
    font-size: 18px;
    font-weight: bold;
}

/* Search Form Section */
#searchForm {
    display: flex;
    flex-direction: column;
}

#searchBtn {
    background-image: linear-gradient(to bottom right,#9370db, #7b68ee);
}

/* Feature city Container */
#featuredCity {
    display: flex;
    flex-direction: column;
    border: 3px solid #7b68ee;
    background-color: #e6e6fa;
    margin-top: 30px;
    line-height: 2.5;
}

main {
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
}

/* 5Day forecast Section */
#weatherCards {
    display: flex;
    color: #ffffff;
    font-size: 15px;
    height: 35vh;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 20px 10px 10px;
    margin-top: 3px;
    background-image: linear-gradient(to bottom right,#9370db, #7b68ee)
}

 /* Footer */
footer {
    background-color: #f5f5f5;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
}
