* {
    box-sizing: border-box;
    border: 1px solid grey;
    font-size: 12px;
}

header {
    display: flex;
    justify-content: center;
}

.headings {
    font-size: 18px;
    font-weight: bold;
}

#searchForm {
    display: flex;
    flex-direction: column;
}

.section-container {
    display: flex;
    flex-direction: column;
}

#featuredCity {
    display: flex;
    flex-direction: column;
}

#main-container {
    display: flex;
    height: 80vh;
}


.weather-cards {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 2px;
}
